@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

body{
	margin: 0;
	font-size: 20px;
	height: 547px; /*547px*/
	background-color: #ffffff;
	/*background-image: linear-gradient(to bottom right, #ccffff, black);*/
	background-image: linear-gradient(to bottom right, #6c6f6e4a, #003b3b);
}

*{
	box-sizing: border-box;
	margin:0;
	padding:0;
	outline: nome;
	font-family: 'Bangers', cursive;
	font-size: 25px;
	color: #000000;

}

.custom-box{
	max-width: 700px;
	background-color: #888886b8;
	margin: 30px auto;
	padding: 8px;
	border-radius: 10px;
	
}


.custom-box.hide{
	display: none;
}

.custom-box2.hide{
	display: none;
}

.home-box h3{
	font-size: 18px;
	font-weight: 500; 
	color: #000000; 
	margin-bottom: 15px;
	line-height: 25px;
}

.home-box p{
	font-size: 18px;
	font-weight: 500; 
	color: #000000; 
	margin-bottom: 15px;
	line-height: 25px;
}



.btn{
	
	padding: 10px 45px;
	background-color: #009688;
	color: #ffffff;
	border: nome;
	border-radius: 5px;
	font-size:16px;
	cursor: pointer;
    display: inherit;	/* ou display: inline-block */
	position:static; 
	
}

.btn2{
	
	padding: 10px 51px;
	background-color: #009688;
	color: #ffffff;
	border: nome;
	border-radius: 5px;
	font-size:16px;
	cursor: pointer;
    display: inherit;	/* ou display: inline-block */
	float: right;
	margin-top: -40px;
	position:relative; 
	
}


.btnReset{
	
	padding: 1px 4px;
	background-color: #6c6f6e00; /*#6c6f6e;*/
	color: #ffffff;
	border: nome;
	border-radius: 5px;
	font-size:19px;
	cursor: pointer;
    /*  display: inline-block */
	position:absolute; 
    top:97.5%;
    left:50%;
    transform: translate(-50%, -50%);
	
   
}

.button:hover {opacity: 1}
.btnReset:active {
  background-color: #66ff66;
 }
 
 #author{	
    position: absolute;
    bottom: 5px;
    right: 10px;
	height: 39px;
    font-size: 10px;
	color: #232927; 
	
}
 
 

.home-box .btn{
	margin-top:20px;
}


.quiz-box .question-number,
.quiz-box .question-text,
.quiz-box .option-container,
.quiz-box .next-question-btn,
.quiz-box .answers-indicator{

}


.quiz-box .question-number{
	font-size: 25px;
	color: #0096888;
	line-height: 25px;
	font-weight: 600;
	padding-bottom: 20px;
	border-bottom: 1px solid #cccccc;
}

.quiz-box .question-text{
	font-size: 25px;
	color: #000000;
	line-height: 28px;
	font-weight: 400;
	padding: 20px 0;
	margin:0;

}
.quiz-box .option-container{}

.quiz-box .option-container .option{
	background-color: #ffffff;
	padding: 15px;
	font-size: 20px;
	line-height: 22px;
	color:#000000;
	border-radius: 5px;
	margin-bottom: 10px;
	cursor: pointer;
	text-transform: capitalize;
	animation: fadeIn 1s ease forwards;
	position: relative; /* position e overflow foi usado para enquadrar a cor dentro da opção*/
	overflow: hidden;
	
}



.quiz-box .option-container .option.already-answered{
	pointer-events: none;
}


 /*pinta a resposta certa de verde*/
.quiz-box .option-container .option.correta::before{
	content: '';
	position: absolute;
	left:0;
	top:0;
	height: 100%;
	width: 100%;
	background-color: #66ff66;
	z-index: -1; /*mostra a resposta*/
	animation: slide_esquerda .5s ease forwards	
}
@keyframes slide_esquerda{
	0%{
		transform: translateX(-100%);
	}
	100%{
		transform: translateX(0%);
	}
}

 /*pinta a resposta ERRADA de VERMELHO*/
.quiz-box .option-container .option.errada::before{
	content: '';
	position: absolute;
	left:0;
	top:0;
	height: 100%;
	width: 100%;
	background-color: #ff3300;
	z-index: -1; /*mostra a resposta*/
	animation: slide_esquerda .5s ease forwards	
}
@keyframes slide_esquerda{
	0%{
		transform: translateX(-100%);
	}
	100%{
		transform: translateX(0%);
	}
}



@keyframes fadeIn{
	80%{
		opacity:0;
	}
	100%{
		opacity:1;
	}
}

.quiz-box .answers-indicator {
	border-top: 2px solid #cccccc;
	margin: 10px;
	text-align: center;
	padding-top: 10px;
}
.quiz-box .answers-indicator div{
	height: 40px;
	width: 40px;
	display: inline-block;
	border-radius: 10%;
	background-color: #cccccc;
	margin-top: 20px;
	
}

.final-box {
  text-align: center;
  position: ;
  animation-name: example;
  animation-duration: 2.7s;
  animation-iteration-count: infinite;
 
}

@keyframes example {
  /*0%   {background-color:#cccccc; left:0px; top:0px;}*/
  25%  {background-color:#ffff66; left:200px; top:0px;}
  50%  {background-color:#6699ff; left:200px; top:200px;}
  75%  {background-color:#66ff66; left:0px; top:200px;}
  100% {background-color:#ff3301; left:0px; top:0px;}
}


.final-box .next-question-btn{

}








